:root {
  --vp-c-brand: darkorange;
  --vp-c-brand-light: #ef8319;
  --vp-c-brand-dark: #d66a00;
  --vp-button-brand-bg: darkorange;
  --vp-button-brand-hover-border: #be5e00;
  --vp-button-brand-active-border: #a65200;
  --vp-button-brand-border: #be5e00;
  --vp-button-brand-active-bg: #a65200;
}
