/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */
:root {
  --color-base-primary: 28.4, 100%;
  --color-base-yellow: 50.35, 100%;
  --color-base-green: 158, 79%;
  --color-base-red: 351, 100%;

  --color-background: hsla(240, 3%, 12%, 0.702);

  --color-primary-50: var(--color-base-primary), 98%;
  --color-primary-100: var(--color-base-primary), 94%;
  --color-primary-200: var(--color-base-primary), 88%;
  --color-primary-300: var(--color-base-primary), 76%;
  --color-primary-400: var(--color-base-primary), 68%;
  --color-primary-500: var(--color-base-primary), 59.4%;
  --color-primary-600: var(--color-base-primary), 55%;
  --color-primary-700: var(--color-base-primary), 47%;
  --color-primary-800: var(--color-base-primary), 39%;
  --color-primary-900: var(--color-base-primary), 33%;
  --color-primary-950: var(--color-base-primary), 21%;

  --color-yellow-50: var(--color-base-yellow), 95%;
  --color-yellow-100: var(--color-base-yellow), 90%;
  --color-yellow-200: var(--color-base-yellow), 82%;
  --color-yellow-300: var(--color-base-yellow), 70%;
  --color-yellow-400: var(--color-base-yellow), 59%;
  --color-yellow-500: var(--color-base-yellow), 50%;
  --color-yellow-600: var(--color-base-yellow), 42%;
  --color-yellow-700: var(--color-base-yellow), 32%;
  --color-yellow-800: var(--color-base-yellow), 26%;
  --color-yellow-900: var(--color-base-yellow), 22%;
  --color-yellow-950: var(--color-base-yellow), 12%;

  --color-green-50: var(--color-base-green), 96%;
  --color-green-100: var(--color-base-green), 90%;
  --color-green-200: var(--color-base-green), 80%;
  --color-green-300: var(--color-base-green), 66%;
  --color-green-400: var(--color-base-green), 52%;
  --color-green-500: var(--color-base-green), 42%;
  --color-green-600: var(--color-base-green), 36%;
  --color-green-700: var(--color-base-green), 30%;
  --color-green-800: var(--color-base-green), 25%;
  --color-green-900: var(--color-base-green), 21%;
  --color-green-950: var(--color-base-green), 12%;

  --color-red-50: var(--color-base-red), 96%;
  --color-red-100: var(--color-base-red), 92%;
  --color-red-200: var(--color-base-red), 86%;
  --color-red-300: var(--color-base-red), 76%;
  --color-red-400: var(--color-base-red), 64%;
  --color-red-500: var(--color-base-red), 54%;
  --color-red-600: var(--color-base-red), 47%;
  --color-red-700: var(--color-base-red), 39%;
  --color-red-800: var(--color-base-red), 33%;
  --color-red-900: var(--color-base-red), 30%;
  --color-red-950: var(--color-base-red), 16%;
}

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create an accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-background: var(--color-background);

  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: hsl(var(--color-primary-500));
  --vp-c-brand-2: hsl(var(--color-primary-400));
  --vp-c-brand-3: hsl(var(--color-primary-600));
  --vp-c-brand-soft: hsl(var(--color-primary-900));

  --vp-c-tip-1: hsl(var(--color-green-500));
  --vp-c-tip-2: hsl(var(--color-green-400));
  --vp-c-tip-3: hsl(var(--color-green-600));
  --vp-c-tip-soft: hsl(var(--color-green-950));

  --vp-c-warning-1: hsl(var(--color-yellow-500));
  --vp-c-warning-2: hsl(var(--color-yellow-400));
  --vp-c-warning-3: hsl(var(--color-yellow-600));
  --vp-c-warning-soft: hsl(var(--color-yellow-950));

  --vp-c-danger-1: hsl(var(--color-red-500));
  --vp-c-danger-2: hsl(var(--color-red-400));
  --vp-c-danger-3: hsl(var(--color-red-600));
  --vp-c-danger-soft: hsl(var(--color-red-950));
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(140deg,
      hsl(var(--color-primary-400)) 30%,
      hsl(var(--color-primary-500)));

  --vp-home-hero-image-background-image: transparent;
  --vp-home-hero-image-filter: unset;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-tip-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-tip-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}